<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
    <!-- 指定的切面类 -->  
	<bean id="moocAspect" class="com.imooc.aop.schema.advice.MoocAspect"></bean>
	<bean id="aspectBiz" class="com.imooc.aop.schema.advice.biz.AspectBiz"></bean>
	<bean id="xxxxBiz" class="com.imooc.aop.schema.advice.biz.XxxxBiz"></bean>
	
    <!-- spring所有的切面和通知器都必须放在一个<aop:config>内（可以配置多个<aop:config>元素） -->
    <aop:config>
	   	<aop:aspect id="moocAspectAOP" ref="moocAspect">
	   		<aop:pointcut id="moocPointcut" expression="execution(* com.imooc.aop.schema.advice.biz.*Biz.*(..))" />
	   	<!-- 
	   		<aop:before method="before" pointcut-ref="moocPointcut"/>
	   		<aop:after-returning method="afterReturning" pointcut-ref="moocPointcut"/>
	   		<aop:after-throwing method="afterThrowing" pointcut-ref="moocPointcut"/>
	   		<aop:after method="after" pointcut-ref="moocPointcut"/>
	   		<aop:around method="around" pointcut-ref="moocPointcut"/>
	   	 -->
	   		<aop:around method="aroundInit" 
   				pointcut="execution(* com.imooc.aop.schema.advice.biz.AspectBiz.init(String,int)) and args(bizName,times)"/> 
	   			
	   		<aop:declare-parents types-matching="com.imooc.aop.schema.advice.biz.*(+)" 
	   			implement-interface="com.imooc.aop.schema.advice.Fit" default-impl="com.imooc.aop.schema.advice.FitImpl"/>
	   	</aop:aspect>
    </aop:config>
        
 </beans>
